<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/*.g.cs,**/obj/**</ExcludeByFile>
          <Exclude>[WinSentinel.Tests]*,[WinSentinel.Installer]*,[WinSentinel.App]*.Views.*,[WinSentinel.App]*.Controls.*,[WinSentinel.NaughtyTestPlugin]*,[WinSentinel.TestPlugin]*</Exclude>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
